html {
    box-sizing: border-box;
  
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 16px;
  }
  
.AddFriend {
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    align-items: center;
  }
  
.cancelButton {
	margin: 0 auto;
	display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
}
  
 h1 {
 	padding-left: 20px;
 	padding-top: 20px;
 	color: #dd5f0b;
 }


/* ============== */
/* NAVBAR SECTION */
/* ============== */

#navbar-Calendar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dd5f0b;
}

#navbar-Calendar li {
	display:inline;
}

.navbar-text {
	overflow: hidden;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:inline-block;
    float: left;
}

.navbar-Calendar a {
	padding-top: 10px;
	padding-bottom; 10px;
}

#navbar-Calendar li a:hover:not(.active) {
    background-color: #db732e;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .calendar {
  padding-top: 60px;
}

label, .title-event, p {
	color: #dd5f0b;
}

.AddFriend__button:link, :visited, .AddFriend__button__button:link {
    border: 1px solid #dd5f0b;
    color: #dd5f0b;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.AddFriend__button:hover, .AddFriend__button:active {
    background-color: #db732e;
    color: white;
}
