/* ============== */
/* NAVBAR SECTION */
/* ============== */

#navbar-Calendar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dd5f0b;
}

#navbar-Calendar li {
	display:inline;
}

.navbar-text {
	overflow: hidden;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:inline-block;
    float: left;
}

.navbar-Calendar a {
	padding-top: 10px;
	padding-bottom; 10px;
}

#navbar-Calendar li a:hover:not(.active) {
    background-color: #db732e;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .calendar {
  padding-top: 60px;
}

/* =============== */
/* SIDEBAR SECTION */
/* =============== */

.date {
	height: 40px;
	padding: 5px;
	color: #dd5f0b;
}

.sidebar {
	background-color: white;
}

.friends {
	margin-top: 40px;
	padding: 5px;
}

.addFriend {
	padding: 5px;
	color: white;
}

.friendsList {
	padding-top: 0px;
	padding: 5px;
}

.friends-title {
	padding: 5px;
	padding-bottom: 0px;
}


/* ================ */
/* CALENDAR SECTION */
/* ================ */

.hidden {
	visibility: hidden;
}

.year {
	padding-left: 5px;
	float: right;
	color: #db732e;
}

#monthContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
}

.day {
	flex: 0 1 auto;
	align-self: auto;
    width: 130px;
    height: 130px;
    border: 1px solid #dd5f0b;
    padding: 5px;
    margin: 5px;
}

#daysNames {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
}

#daysNames div {
	display: inline;
    color: #dd5f0b;
    text-align: center;
    flex: 0 1 auto;
	align-self: auto;
    width: 130px;
    padding: 5px;
    margin: 5px;
}

.active {
	background-color: #dd5f0b;
	color: white;
}

/* =============== */
/* BUTTONS SECTION */
/* =============== */

#privMonth {
	float: left;
}

#nextMonth {
	float: right;
}

#prevNextButtons {
	margin-top: 100px;
}

#prevButton:link, #prevButton:visited, #nextButton:link, #nextButton:visited {
    border: 1px solid #dd5f0b;
    color: #dd5f0b;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#prevButton:hover, #prevButton:active, #nextButton:hover, #nextButton:active {
    background-color: #db732e;
    color: white;
}

.addFriend_button {
	background-color: #dd5f0b;
}


